@model MusicMe2.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Midia)
        </dt>
        <dt>
            <audio controls>
                <source src="\UserMidia\@Html.DisplayFor(model => model.Midia)" type="audio/mp3">
            </audio>
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileSet.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
